header {
    height: 300px;
    background-color: black;
    color: white;
    position: relative;
}

header div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header nav ol {
    background-color: black !important;
}

#categories {
    margin: 3% 0;
}

.dish-item {
    height: 130px;
    float: left;
    margin: 1% 0;
    padding: 0 10px;
}

.dish-item img {
    height: 100%;
    width: 200px;
    float: left;
    margin-right: 5%;
}

.dish-item h6 {
    margin-top: 30px;
}

footer {
    clear: both;
}

main {
    margin: 0 5%;
}

.price {
}

@media only screen and (max-width: 880px) {
    .dish-item {
        width: 100%;
    }
}

@media only screen and (max-width: 1270px) and (min-width: 881px) {
    .dish-item {
        width: 50%;
    }
}

@media only screen and (min-width: 1271px) {
    .dish-item {
        width: 33.3%;
    }
}