@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Signika:600|Poppins:500');
body {
    font-family: 'Signika', sans-serif;
}

.navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bolder;
    font-size: 18pt;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 14pt;
}

.active {
    color: #997141 !important;
    text-decoration: underline;
}

a:hover {
    color: #997141 !important;
}

a {
    color: black;
}

header a {
    color: white;
}

#menu-title {
    font-size: 60pt;
}

header {
    height: 180px;
    background-color: black;
    color: white;
    position: relative;
}

header div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header nav ol {
    background-color: black !important;
}

#categories {
    margin: 3% 0;
}

.dish-item {
    height: 130px;
    float: left;
    margin: 1% 1%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.dish-item img {
    height: 100%;
    width: 180px;
    float: left;
    margin-right: 5%;
    border-radius: 3px;
}

.dish-item h5 {
    margin-top: 35px;
}

footer {
    clear: both;
    height: 50px;
}

.text-muted {
    line-height: 50px;
}

main {
    margin: 0 5%;
}

.price {
    font-weight: bold;
    font-size: 16pt;
    color: #997141;
}

.breadcrumb {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 5px;
}

.todaySpecial {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    margin-top: 4%;
}

.todaySpecial .img-content img {
    width: 100%;
    border-radius: 10px;
}

/*******fading Pictures animation********/

/*******opacity filter used********/

.img-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 20px;
    margin-bottom: 16px!important;
}

.img-animate-fading {
    animation: fading 5s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

/*************menu letter top animation**********/

.menu-animate-top, .breadcrumb-item {
    position: relative;
    animation: animatetop 1.5s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/***********************************************/

/********** menu hover animation *************/

/********** transform used *************/

.item-desc:hover {
    animation: hover_ani_dance 4s infinite;
}

@keyframes hover_ani_scale {
    50% {
        transform: scale(1.1);
    }
}

@keyframes hover_ani_dance {
    5%, 50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}

/********* media query part ************/

@media only screen and (max-width: 400px) {
    .dish-item {
        width: 100%;
        text-align: center;
        height: auto;
        float: clear;
    }
    .dish-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    .item-desc h5 {
        display: block;
        transform: translate(0, 10px);
    }
    #breakfast #lunch #dinner {
        display: table-row;
    }
    #menu-title {
        font-size: 40pt;
    }
    header {
        height: 103px;
    }
    .breadcrumb-item {
        transform: translate(2px, -15px);
    }
    .img-content {
        max-width: 300px;
    }
}

@media only screen and (max-width: 750px) and (min-width: 400px) {
    .dish-item {
        width: 100%;
        text-align: center;
        height: auto;
    }
    #menu-title {
        font-size: 50pt;
    }
    header {
        height: 150px;
    }
    .breadcrumb-item {
        transform: translate(20px, -10px);
    }
    .img-content {
        max-width: 400px;
    }
}

@media only screen and (max-width: 1110px) and (min-width: 750px) {
    .dish-item {
        width: 48%;
    }
    #menu-title {
        font-size: 50pt;
    }
    header {
        height: 150px;
    }
    .breadcrumb-item {
        transform: translate(15px, -10px);
    }
    .img-content {
        max-width: 500px;
    }
}

@media only screen and (min-width: 1110px) {
    .dish-item {
        width: 31.3%;
    }
    .breadcrumb-item {
        transform: translate(25px, 0);
        font-size: 20px;
    }
    .img-content {
        margin-top: 30px;
        max-width: 700px;
    }
}