@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Signika:600|Poppins:500');

body {
    font-family: 'Signika', sans-serif;
}

.navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bolder;
    font-size: 18pt;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 14pt;
}

.active {
    color: #997141 !important;
}

a:hover {
    color: #997141 !important;
}

a {
    color: black;
}

header a {
    color: white;
}

#menu-title {
    font-size: 40pt;
}

header {
    height: 300px;
    background-color: black;
    color: white;
    position: relative;
}

header div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header nav ol {
    background-color: black !important;
}

#categories {
    margin: 3% 0;
}

.dish-item {
    height: 130px;
    float: left;
    margin: 1% 0;
    padding: 0 10px;
}

.dish-item img {
    height: 100%;
    width: 200px;
    float: left;
    margin-right: 5%;
}

.dish-item h5 {
    margin-top: 40px;
}

footer {
    clear: both;
    height: 50px;
}

.text-muted {
    line-height: 50px;
}

main {
    margin: 0 5%;
}

.price {
    font-weight: bold;
    font-size: 16pt;
    color: #997141;
}

@media only screen and (max-width: 880px) {
    .dish-item {
        width: 100%;
    }
}

@media only screen and (max-width: 1270px) and (min-width: 881px) {
    .dish-item {
        width: 50%;
    }
}

@media only screen and (min-width: 1271px) {
    .dish-item {
        width: 33.3%;
    }
}